body {
  color: red;
  background-color: white;
}

.nav-link {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #202124;
}

.tab-content {
  border: 0;
}

.alignMenu{
  justify-content: flex-start !important;
}

#navbarColor{
  background-color: #202124;
}

.colorLink {
  color: white !important; /* Use !important para garantir que a classe prevaleça */
}
.navbar-brand {
  color: white !important;
}
